/*
   Normalize
   ========================================================================== */

@import "../components/foundation/scss/normalize.scss";

/* 
   Base
   ========================================================================== */

@import "base/pallete";
@import "base/fonts";
@import "base/mymixins";

/* 
   Variables
   ========================================================================== */

$barheight: 52px;
$offcanvaswidth: 200px;
$offcanvastrans: all 300ms ease;
$thinborder: 1px solid rgba(165, 171, 197, 0.3);
$rad: 2px;

/* 
   Main
   ========================================================================== */

*, *:before, *:after {
   box-sizing: border-box;
   transition: all 150ms ease-in-out;
}

::-webkit-scrollbar {
   width: 7px;
}

::-webkit-scrollbar-track {
   background: rgba(0,0,0,0);
   border-radius: 0px;
}

::-webkit-scrollbar-thumb {
   background: rgba(0,0,0,0.3);
   border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background:rgba(0,0,0,0.4);
}

a {
   color: inherit;
   text-decoration: none;
}

body {
   width: 100%;
   font-size: 14px;
   background-color: $cloud;
}

button {
   outline: none;
   border: none;
   margin: 0;
   padding: 0;
   background-color: transparent;
}

#top-bar {
   position: absolute;
   z-index: 99;
   width: 100%;
   height: $barheight; 
   top: 0;
   left: 0;
   background-color: #fff;

   #logo {
      float: left;
      display: inline-block;
      width: 200px;
      height: inherit;
      overflow: hidden;
      background: url('../images/logo.png') no-repeat;
      background-color: $green;
      background-position: 80px 8px;
      background-size: 140px 127px; 
      transition: $offcanvastrans;     
      &.small {
         width: $barheight;
         background-position: 10px 8px;
      }
   }

   nav {

      #navicon {
         $linewidth: 20px;
         $lineheight: 2px;
         float: left;
         width: $barheight;
         height: $barheight;
         cursor: pointer;
         border-right: $thinborder;

         &:hover {
            .lines , .lines:before, .lines:after {
               background-color: darken($paleindigo, 10%);
            }
            .lines:before, .lines:after {
               width: 10px;
               transform-origin: left center;
               top: 0px;
               left: 1px;
            }
            .lines:before {
               transform: rotate3d(0,0,1,-40deg);
            }
            .lines:after {
               transform: rotate3d(0,0,1,40deg);
            }
         }

         &.arrow-right .lines {
            transform: rotate3d(0,0,1,180deg);
         }

         .lines {
            display: inline-block;
            width: $linewidth;
            height: $lineheight;
            background-color: $paleindigo;
            position: relative;
            top: -4px;

            &:before, &:after {
               display: inline-block;
               width: $linewidth;
               height: $lineheight;
               background-color: $paleindigo;
               position: absolute;
               left: 0;
               content: '';
               transform-origin: 5px center;
            }

            &:before {
               top: -6px;
            }

            &:after {
               top: 6px;
            }
         }
      }

      #search {
         float: left;
         width: $barheight;
         height: $barheight;
         text-align: center;
         color: $paleindigo;
         i {
            font-size: 16px;
         }
         &:hover {
            color: darken($paleindigo, 10%);
         }
      }

      #search-input {
         float: left;
         width: 0px;
         height: $barheight;
         padding: 0;
         border: none;
         outline: none;
      }

      #guest {
         display: inline-block;
         margin: 13px 15px 0;
         float: right;
         font-family: "Montserrat";
         font-size: 11px;
         letter-spacing: 0.7px;
         button {
            width: 75px;
            height: 26px;
            text-transform: uppercase;
            color: #fff;
            background-color: $green;
            &:hover {
               background-color: darken($green, 5%);
            }
            &#signin {
               float: left;
               margin-right: 2px;
               border-top-left-radius: $rad;
               border-bottom-left-radius: $rad;
            }
            &#signup {
               margin-left: 2px;
               border-top-right-radius: $rad;
               border-bottom-right-radius: $rad;
            }
         }
         .or {
            position: relative;
            z-index: 3;
            display: block;
            float: left;
            color: $paleindigo;
            &:before {
               position: absolute;
               top: 50%;
               left: 50%;
               width: 20px;
               height: 20px;
               margin: 3px 0 0 -10px;
               padding: 2px;
               content: 'or';
               background-color: #fff;
               text-align: center;
               border-radius: 500px;
            }
         }
      }

      #profile {
         position: relative;
         float: right;
         width: 215px;
         height: $barheight;
         color: $paleindigo;
         background-color: #fff;
         display: none;
         img {
            width: 24px;
            height: 24px;
            margin-left: 15px;
         }
         .name {
            position: relative;
            top: -7px;
            left: 8px;
            text-align: center;
            font-family: "Montserrat";
            font-weight: 400;
            font-size: 12px;
            letter-spacing: .7px;
            margin-right: 30px;
            &:after {
               content: "";
               display: inline-block;
               position: relative;
               width: 0;
               height: 0;
               top: 4px;
               left: 5px;
               border: inset 5px;
               border-color: transparent transparent transparent #a5abc5;
               border-left-style: solid;
               transform: rotate(90deg);
            }
         }
         &:hover {
            .name, .name:after {
               color: darken($paleindigo, 10%);
            }
            ul {
               display: block;
            }
         }
         ul {
            display: none;
            list-style: none;
            position: absolute;
            z-index: 98;
            width: auto;
            height: auto;
            top: $barheight;
            margin: 0;
            padding: 0;
            color: $paleindigo;
            background-color: #fff;
            border-bottom-right-radius: $rad;
            border-bottom-left-radius: $rad;
            //box-shadow: 0px 1px 4px 0px rgba(180, 180, 180, 0.65);
            li {
               &:hover a {
                  color: darken($paleindigo, 10%);
               } 
               a {
                  display: block;
                  margin: 0;
                  padding: 10px 18px;
                  font-family: "Montserrat";
                  font-size: 12px;
                  font-weight: 400;
                  letter-spacing: .7px;
                  text-align: left;
                  border-top: $thinborder;
                  i {
                     position: relative;
                     top: 2px;
                     margin-right: 12px;
                     font-size: 18px;
                  }
               }
            }

            .user-stats {
               a {
                  display: inline-block;
                  width: 33.3%;
                  height: 45px;
                  padding: 5px 10px;
                  margin-left: -3px; //inline block space fix
                  font-family: "Lato";
                  font-size: 11px;
                  font-weight: 400;
                  line-height: 15px;
                  text-align: center;
                  word-wrap: normal;
                  white-space: -moz-pre-wrap;
                  white-space: pre-wrap;
                  border-top: none;
                  &.followers {
                     border-left: $thinborder;
                     border-right: $thinborder;
                  }
               }
            }
         }
      }

      #add-music {
         float: right;
         width: 100px;
         height: 26px;
         margin: 13px 15px 0;
         color: #fff;
         font-family: "Montserrat";
         font-size: 11px;
         letter-spacing: 0.7;
         text-align: center;
         text-transform: uppercase;
         background-color: $green;
         border-radius: $rad;
         display: none;
         i {
            position: relative;
            top: -1px;
            margin-right: 4px;
            padding-right: 0px;
            font-size: 7px;
         }
         &:hover {
            background-color: darken($green, 10%);
         }
      }
   }
}

#off-canvas {
   position: fixed;
   width: $offcanvaswidth;
   background-color: $navy;
   overflow-x: hidden;
   overflow-y: auto;
   top: 52px;
   bottom: 52px;
   left: 0;
   transition: $offcanvastrans;

   &.hide {
      left: -$offcanvaswidth;
   }

   &::-webkit-scrollbar {
      width: 2px;
   }
   &::-webkit-scrollbar-track {
      background: none;
      border-radius: 0px;
   }
   &::-webkit-scrollbar-thumb {
      background: #fff;
   }

   ul {
      list-style: none;
      color: #fff;
      margin: 0;
      padding: 0;
      li {
         font-family: "Lato";
         font-size: 14px;
         letter-spacing: .7px;
         &.label {
            padding: 8px;
            font-size: 10px;
            font-weight: 300;
            text-transform: uppercase;
            background-color: darken($navy, 5%);
            .minimize {
               float: right;
               color: lighten($navy, 15%);
               &.active {
                  transform: rotate(90deg);
               }
            }
         }
         a {
            display: block;
            padding: 8px 20px;
            &:hover {
               background-color: lighten($navy, 5%);
            }
            &.active {
               border-right: 4px solid $green;
            }
         } 
      }
   }

   footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 5px 8px;
      color: #fff;
      background-color: darken($navy, 5%);
   }
}

#main {
   position: fixed;
   width: auto;
   top: 52px;
   bottom: 52px;
   left: $offcanvaswidth;
   right: 0;
   margin-right: 1px;
   overflow-x: hidden;
   overflow-y: auto;
   background-color: $cloud;
   transition: $offcanvastrans;

   &.expand {
      left: 0;
   }

   .chart {
      $coverdem: 165px;
      $infoheight: 45px;
      width: 100%;
      margin: 0;
      padding: 0;

      li {
         float: left;
         width: $coverdem;
         height: $coverdem+$infoheight;
         margin: 32px 0 0 32px;
         padding: 0;
         list-style-type: none;
         box-shadow: 0px 2px 8px 2px rgba(180, 180, 180, 0.2);
         &:last-child {
            margin-bottom: 50px;
         }

         .cover {
            position: relative;
            display: block;
            width: $coverdem;
            height: $coverdem;
            margin: 0;
            padding: 0;
            &:hover .hover-panel {
               opacity: 1;
               background-color: rgba(0,0,0,.5);
            }
            img {
               position: absolute;
               z-index: 1;
               width: 100%;
               height: 100%;
               vertical-align: bottom;
            }

            .hover-panel {
               position: absolute;
               z-index: 3;
               width: 100%;
               height: 100%;
               background: rgba(0,0,0,0);
               opacity: 0;
               &.hide {
                  opacity: 0;
               }
               button {
                  position: absolute;
                  color: #fff;
                  font-size: 14px;
               }
               .play {
                  width: 100%;
                  height: 100%;
                  top: 0;
                  left: 0;
                  background: url('../images/playbutton.png') center no-repeat;
                  background-size: 50px 50px;
                  &.active {
                     background: url('../images/pausebutton.png') center no-repeat;
                     background-size: 50px 50px;
                  }
               }
               .info {
                  top: 4px;
                  right: 4px;
               }
               .favorite {
                  top: 22px;
                  right: 4px;
                  font-size: 13px;
                  &:hover {
                     color: $palered;
                  }
                  &.active {
                     color: $green;
                  }
               }
               .add {
                  top: 39px;
                  right: 5px;
               }
            }

            .info-panel {
               position: absolute;
               z-index: 4;
               width: 100%;
               height: 100%;
               background: rgba(255,255,255,0.85);
               font-size: 12px;
               color: $navy;
               display: none;
               &.show {
                  display: block;
               }
               button {
                  position: absolute;
                  font-size: 14px;
                  &.close {
                     top: 4px;
                     right: 4px;
                  }
                  &.report {
                     top: 22px;
                     right: 4px;
                  }
               }
               .uploader {
                  position: absolute;
                  width: 100%;
                  width: 150px;
                  bottom: 28px;
                  left: 10px;
               }
               .source {
                  position: absolute;
                  bottom: 10px;
                  width: 150px;
                  bottom: 12px;
                  left: 10px;
                  i {
                     position: relative;
                     left: 2px;
                     font-size: 14px;
                     color: #cd201f;
                  }
               }
            }

            .corner {
               position: absolute;
               z-index: 2;
               width: 34px;
               height: 34px;
               top: 0;
               left: 0;
               background: url('../images/corner.png') top left no-repeat;
               background-size: 34px 34px;
               .rank {
                  position: absolute;
                  z-index: 2;
                  width: 17px;
                  top: 4px;
                  left: 1px;
                  color: #fff;
                  width: 17px;
                  font-size: 10px;
                  text-align: center;
               }
            }
         }

         .song-info {
            display: block;
            width: $coverdem;
            height: $infoheight;
            background-color: #fff;
            font-family: "Lato";
            .upvote {
               position: relative;
               float: left;
               margin: 6px 0 0 12px;
               text-align: center;
               color: $lightgrey;

               font-size: 11px;
               i {
                  font-size: 18px;
                  display: block;
                  margin-bottom: 1px;
               }
               &.active i {
                  color: $orange;
               }
            }
            span {
               float: left;
               width: 120px;
               height: 12px;
               font-size: 13px;
               color: $navy;
               &.artist {
                  margin: 5px 0 0 10px;
               }
               &.song {
                  margin: 6px 0 0 10px;
                  font-weight: 300;
               }
            }
         }
      }
   }
}

#bottom-bar {
   position: fixed;
   z-index: 99;
   display: block;
   bottom: 0;
   height: $barheight;
   width: 100%;
   background: #fff;

   button {
      float: left;
   }

   .left {
      width: $offcanvaswidth; 
      height: inherit;
      left: 0;
      display: inline-block;
      #previous {
         width: 27px;
         height: 18px;
         margin: 17px 20px 0 14px;
         background: url('../images/next.png') center no-repeat;
         background-size: 27px 18px;
         transform: rotate(180deg);
      }
      #play {
         width: 23px;
         height: 25px;
         margin-top: 13px;
         background: url('../images/play.png') center no-repeat;
         background-size: 19px 25px;
         &.active {
            background: url('../images/pause.png') center no-repeat;
            background-size: 23px 25px;
         }
      }
      #next {
         width: 27px;
         height: 18px;
         margin: 17px 0 0 20px;
         background: url('../images/next.png') center no-repeat;
         background-size: 27px 18px;
      }
      #volume {
         width: 23px;
         height: 18px;
         margin: 17px 0 0 25px;
         background: url('../images/volume.png') center no-repeat;
         background-size: 23px 18px;
      }
   }

   .center {
      position: fixed;
      display: inline-block;
      height: inherit;
      left: $offcanvaswidth;
      right: $offcanvaswidth+$barheight;
      font-family: "Lato";
      font-size: 14px;
      #active-cover {
         img {
            width: $barheight;
            height: inherit;
         }
      }
      #active-artist {
         position: absolute;
         top: 2px;
         left: $barheight + 17px;
      }  
      #active-song {
         position: absolute;
         bottom: 5px;
         left: $barheight + 17px;
         font-weight: 300;
      }
      #scrubber {
         position: absolute;
         top: $barheight/2.3;
         left: 69px;
         right: 0px;
         height: 5px;
         background-color: $navy;
         border-radius: 9999px;
         .meter {
            display: block;
            height: 100%;
            background-color: $green;
            border-radius: 9999px;
         }
      }
      #timeleft {
         position: absolute;
         right: 0px;
         bottom: 5px;
         font-weight: 300;
      }
   }

   .right {
      position: fixed;
      display: inline-block;
      width: $offcanvaswidth+$barheight;
      height: inherit;
      right: 0;
      button {
         width: 20px;
         height: 20px;
         margin: 15px 0 0 20px;
         font-size: 20px;
         transition: all 150ms ease-in-out;
      }
      #random, #repeat {
         color: $lightgrey;
         &:hover {
            color: $paleindigo;
         }
      }
      #favorite {
         color: $paleindigo;
         &:hover {
            color: $palered;
         }
         &.active {
            color: $green;
         }
      }
      #add, #options {
         color: $paleindigo;
         &:hover {
            color: darken($paleindigo, 10%);
         }
      }
      #share {
         background: url('../images/share.png') center no-repeat; 
         background-size: 18px 18px; 
      }
   }
}
